<div class="clock-container animate__animated animate__bounceIn">
  <h6 class="text-center text-white">{{date | date: 'dd MMMM YYYY'}}</h6>
  <div class="list-cloak d-flex flex-row justify-content-center">
    <div class="clock-col">
      <p class="clock-hours clock-timer">
        {{hour}}
      </p>
    </div>
    <div class="clock-col">
      <p class="clock-minutes clock-timer">
        {{min}}
      </p>
    </div>
    <div class="clock-col">
      <p class="clock-seconds clock-timer">
        {{sec}}
      </p>
    </div>
  </div>

</div>
