<app-loading [isLoading]="isOrdersLoading()"></app-loading>
<div class="sub-header d-flex justify-content-center align-items-center pt-3 pb-3 position-fixed  w-100">
  <app-date-nclock></app-date-nclock>
  <h1 class="title animate__animated animate__fadeInDown text-white">{{orders?.length > 0 ? orders?.length : 'Aucune'}}
    commande{{orders?.length > 1 ? 's' : ''}} en attente <br>
    <small>à emporter ou en livraison</small>
  </h1>
</div>
<div class="container-fluid d-flex" [class.justify-content-center]="orders?.length < 6">
  <div class="col-xl-{{orders?.length <= 4 ? '3' : '2'}} col-lg-3 col-md-4 col-sm-6 animate__animated animate__slideInRight"
    *ngFor="let order of orders; let isFirst = first;">
    <div class="card" [class.is-active]="isFirst">
      <div class="card-header d-flex justify-content-center flex-column text-center">
        <h6 class="mb-2">Commande</h6>
        <h1 style="font-weight: bold;">{{order.id}}</h1>
      </div>
      <div class="card-body text-left">
        <h6 class="text-center mb-0 text-white">
          <span class="badge badge-info" style="font-size: 13px; padding: 5px 10px;">{{orderType(order.payment)}}</span>
        </h6>
        <h6 class="text-center mb-4">{{order.date_add | date: 'dd/MM/YYYY HH:mm'}}</h6>
        <div class="product-detail d-flex align-items-center justify-content-between"
          *ngFor="let detail of order.associations.order_rows">
          <div class="d-flex flex-column" style="width: 85%;">
            <h6>{{detail.product_reference}}</h6>
            <h3>{{detail.product_name}}</h3>
          </div>
          <h4><small>x</small>{{detail.product_quantity}}</h4>
        </div>
        <h6 class="text-center">
          <span class="badge badge-primary">
            Total {{order.total_paid_tax_incl | currency:'EUR':'symbol':'1.2-2':'fr' }}
          </span>
        </h6>
      </div>
      <div class="card-footer text-center d-flex justify-content-between">
        <button class="btn btn-neutral text-warning" data-target="#myModal1"
          (click)="getCustomer(template, order.id_customer)" style="width: 100%;">
          Clients
        </button>
        <a class="btn btn-custom" target="_blank" style="width: 100%;"
          href="http://localhost:8888/nemshop/admin600kqh971/index.php?controller=AdminOrders&id_order={{order.id}}&vieworder">
          Traité
        </a>
      </div>
    </div>
  </div>
</div>


<ng-template #template>
  <div class="modal-header justify-content-center">
    <div class="modal-profile" style="background: linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72);">
      <i class="tim-icons icon-single-02 text-white"> </i>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
  </div>
  <div class="modal-body pb-4" *ngIf="orders?.length > 0">
    <h2 class="text-center text-warning mb-3">{{customer[0].firstname}} {{customer[0].lastname}}</h2>
    <p class="text-left text-muted my-0">
      <a href="mailto:{{customer[0].email}}" class="btn btn-warning btn-icon btn-round mr-2" type="button">
        <i class="tim-icons icon-email-85 mr-2"></i>
      </a>
      {{customer[0].email}}
    </p>
    <div class="d-flex justify-content-start">
      <p class="text-muted my-0 mr-3" *ngIf="customerAddress[0].phone">
        <a href="mailto:{{customerAddress[0].phone}}" class="btn btn-warning btn-icon btn-round mr-2" type="button">
          <i class="tim-icons icon-mobile mr-2"></i>
        </a>
        {{customerAddress[0].phone}}
      </p>
      <p class="text-muted my-0" *ngIf="customerAddress[0].phone">
        <a href="mailto:{{customerAddress[0].phone_mobile}}" class="btn btn-warning btn-icon btn-round mr-2"
          type="button">
          <i class="tim-icons icon-mobile mr-2"></i>
        </a>
        {{customerAddress[0].phone_mobile}}
      </p>
    </div>
    <p class="text-muted my-0 d-flex align-items-center justify-content-start">
      <button class="btn btn-warning btn-icon btn-round mr-2" type="button">
        <i class="tim-icons icon-square-pin mr-2"></i>
      </button>
      {{customerAddress[0].address1}} {{customerAddress[0].address2}} <br>
      {{customerAddress[0].postcode}} - {{customerAddress[0].city | uppercase}}
    </p>
  </div>
  <div *ngIf="orders?.length === 0">
    Aucune commande en attente pour le moment.
  </div>
</ng-template>
<alert class="alert-with-icon animate__animated animate__fadeInDown position-fixed" [type]="'success alert-with-icon'"
  [dismissible]="true" *ngIf="showAlert">
  <span class="tim-icons icon-bell-55" data-notify="icon"> </span>
  <span>
    <b> Nouvelle commande ! </b> <br> Une nouvelle commande vient d'arriver.
  </span>
</alert>
<audio autoplay *ngIf="showAlert || showInfo">
  <source src="assets/audio/message.wav" type="audio/wav">
</audio>
<alert class="alert-with-icon animate__animated animate__fadeInDown position-fixed" [type]="'info alert-with-icon'"
  [dismissible]="true" *ngIf="showInfo">
  <span class="tim-icons icon-refresh-02" data-notify="icon"> </span>
  <span>
    <b> Actualisation des commandes </b> <br> Les commandes viennent d'être réactualisées car une commande a été
    traitée.
  </span>
</alert>
